.linebar {
    top: 340px;
    left: 0;
}

.destinationarrow {
    transform: rotate(116deg);
    top: 910px;
    right: 730px;
    animation: blink 1s step-start infinite;
}
.destinationarrow.in {
    transform: rotate(64deg);
    left: 730px;
}
.arrowstopping {
    top: 622px;
    left: 48px;
    z-index: 20;
    animation: none;
}
.destarrowss {
    transform: none;
    height: 72px;
}
.destarrowss.stopping {
    animation: none;
}

.destinationarrow.stopping {
    transform: rotate(120deg);
    top: 780px;
    right: 622px;
    left: auto;
    animation: none;
}
.destinationarrow.in.stopping {
    transform: rotate(60deg);
    left: 622px;
}

.ssname1 {
    right: 920px;
    top: 800px;
    height: 100px;
}
.ssname2 {
    right: 820px;
    top: 660px;
    height: 80px;
}
.ssname3 {
    right: 720px;
    top: 530px;
    height: 70px;
}
.ssname4 {
    right: 620px;
    top: 420px;
    height: 60px;
}
.ssname1.in {
    left: 900px;
}
.ssname2.in {
    left: 800px;
}
.ssname3.in {
    left: 700px;
}
.ssname4.in {
    left: 600px;
}

.sspoint1 {
    left: 1140px;
    top: 820px;
    height: 100px;
}
.sspoint2 {
    left: 1250px;
    top: 680px;
    height: 80px;
}
.sspoint3 {
    left: 1360px;
    top: 550px;
    height: 70px;
}
.sspoint4 {
    left: 1480px;
    top: 440px;
    height: 60px;
}
.sspoint1.in {
    left: 680px;
}
.sspoint2.in {
    left: 590px;
}
.sspoint3.in {
    left: 490px;
}
.sspoint4.in {
    left: 380px;
}

.transfer {
    top: 380px;
    left: 60px;
}