.list {
    width: 30%;
}
.list > p {
    margin-left: 20px;
    position: relative;
}
.list > p::before {
    counter-increment: list;
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #06183f;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 650px) {
    .list {
        width: 100%;
    }
}