* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    line-height: 24px;
}
header {
    width: 100%;
}
.logo {
    padding: 20px 10%;
    width: 80%;
}
.logo > a > img {
    height: 60px;
}
.hamburger {
    display: none;
}
.hamburgerbutton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #06183f;
}
.hamburgerbutton > span, .hamburgerbutton > span:before, .hamburgerbutton span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.hamburgerbutton > span:before {
    bottom: 8px;
}
.hamburgerbutton > span:after {
    top: 8px;
}
#hamburgercheck:checked ~ .hamburgerbutton > span {
    background-color: #ffffff00;
}
#hamburgercheck:checked ~ .hamburgerbutton > span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#hamburgercheck:checked ~ .hamburgerbutton > span::after {
    top: 0;
    transform: rotate(-45deg);
}
#hamburgercheck:checked ~ .menu {
    display: block;
}
#hamburgercheck {
    display: none;
}
.hamburgermenu > .menu {
    display: none;
}
.hamburgermenu > .menu > a {
    border-bottom: 1px solid #e1e1e1;
}
.menu {
    width: 80%;
    padding: 0 10%;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
}
.menu > a {
    display: block;
    padding: 10px 0;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #e1e1e1;
}
.menu > a:hover {
    background-color: #e1e1e1;
    color: #000000;
}
.content {
    margin: 50px 10%;
}
h1 {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: solid 1px #303030;
    border-left: solid 5px #06183f;
    color: #202020;
}
h2 {
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    margin: 20px 0;
    background-color: #e1e1e1;
    border-bottom: 2px solid #06183f;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.index {
    width: 20%;
    margin-right: 5%;
    box-sizing: border-box;
}
.index > h4, .index > div {
    padding: 20px;
    box-sizing: border-box;
    background-color: #e1e1e1;
}
.index > h4 {
    padding-bottom: 5px;
    border-bottom: solid 2px #06183f;
    font-size: 20px;
}
.index > h4 > a {
    text-decoration: none;
    color: #202020;
}
.index > h4 > a:hover {
    text-decoration: underline;
}
.main {
    width: 80%;
}
.update {
    text-align: right;
}
footer > div, .attention {
    padding: 30px 10%;
    background-color: #202020;
    color: #ffffff;
}
.attention {
    padding: 0 10% 20px 10%;
}
.adress > p {
    margin-bottom: 20px;
    font-size: 20px;
}
.copyright {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    background-color: #06183f;
    color: #ffffff;
}

@media screen and (max-width: 650px) {
    .logo > a > img {
        height: 40px;
    }
    h1 {
        font-size: 24px;
    }
    h2, h3 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
}