* {
    margin: 0;
    padding: 0;
}
html {
    width: 1920px;
    height: 1080px;
}
img {
    position: fixed;
}
.content, .header {
    display: none;
}
.displayed {
    display: block;
}
#carno {
    bottom: 970px;
    right: 60px;
}
#clock {
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 280px;
    color: #ffffff;
    line-height: 80px;
    font-size: 80px;
    font-family: 'Myriad Pro Semibold', 'Myriad', 'Frutiger Medium', 'Frutiger', 'Segoe UI', sans-serif;
}

#loading {
    position: fixed;
    z-index: 999;
}
#loadinginfo {
    top: 720px;
    left: 0;
}
.hidden {
    display: none;
}

/* バックグラウンド */
#background {
    top: 0;
    left: 0;
}

/* ヘッダー左サイド */
.traintype {
    top: 40px;
    left: 60px;
}
.destination {
    top: 140px;
    left: 70px;
}
.yuki {
    bottom: 780px;
    right: 1440px;
}
.for {
    top: 80px;
    left: 70px;
}

/* ヘッダーメイン */
.line {
    top: 50px;
    left: 620px;
}
.next {
    bottom: 780px;
    left: 620px;
}
.headernumbering {
    bottom: 780px;
    left: 760px;
}
.headerstaname {
    bottom: 760px;
    left: 900px;
}

/* 号車 */
.carno_text {
    top: 30px;
    left: 1690px;
}

/* 路線色ボーダー */
.lineborder > img {
    top: 320px;
    left: 0;
}

.contents > img {
    top: 340px;
    left: 0;
}

/* コンテンツ 1 */
.linebar {
    top: 340px;
    left: 0;
}
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
.destinationarrow {
    transform: rotate(116deg);
    top: 910px;
    right: 730px;
    animation: blink 1s step-start infinite;
}
.destinationarrow.in {
    transform: rotate(64deg);
    left: 730px;
}
.arrowstopping {
    top: 622px;
    left: 48px;
    z-index: 20;
    animation: none;
}
.destarrowss {
    transform: none;
    height: 72px;
}
.destarrowss.stopping {
    animation: none;
}

.stationsfull {
    top: 340px;
    left: 0;
}
.staarrow {
    top: 700px;
    left: 60px;
}
.staarrow.in {
    transform: scaleY(-1);
}