* {
    margin: 0;
    padding: 0;
}
html {
    width: 600px;
    height: 400px;
}
body {
    background-color: #333333;
    color: #ffffff;
}
p, a {
    position: fixed;
}
p {
    margin: 0 20px;
}
h1 {
    text-align: center;
    padding: 4px 0;
    background-color: #176184;
}
select {
    width: 300px;
    height: 30px;
}
p.line {
    top: 70px;
}
p.sta {
    top: 140px;
}
p.car {
    top: 210px;
}
a {
    top: 280px;
    padding: 20px;
    margin: 0 20px;
    background-color: #176184;
}
#departure {
    right: 200px;
}
#arrive {
    right: 100px;
}
#stopping {
    right: 0;
}
p#error {
    top: 350px;
    color: red;
}