* {
    margin: 0;
    padding: 0;
}
html {
    width: 1920px;
    height: 1080px;
}
img {
    position: fixed;
}
.division {
    display: none;
}
.displayed {
    display: block;
}
#carno {
    bottom: 970px;
    right: 60px;
}

#shintorailway {
    z-index: 999;
}
.hidden {
    display: none;
}

/* バックグラウンド */
#background {
    top: 0;
    left: 0;
}

/* ヘッダー左サイド */
.traintype {
    top: 40px;
    left: 60px;
}
.destination {
    top: 140px;
    left: 70px;
}
.yuki {
    bottom: 780px;
    right: 1440px;
}
.for {
    top: 80px;
    left: 70px;
}

/* ヘッダーメイン */
.line {
    top: 50px;
    left: 620px;
}
.next {
    bottom: 780px;
    left: 620px;
}
.headernumbering {
    bottom: 780px;
    left: 760px;
}
.headerstaname {
    bottom: 760px;
    left: 900px;
}

/* 号車 */
.carno_text {
    top: 30px;
    left: 1690px;
}

/* 路線色ボーダー */
.lineborder {
    top: 320px;
    left: 0;
}

/* コンテンツ 1 */
.linebar {
    top: 340px;
    left: 0;
}
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
.destinationarrow {
    top: 730px;
    left: 0;
    animation: blink 1s step-start infinite;
}
